# snakemake files
**/.snakemake*
**/.DS_Store

# output files
.snpEff.config
output*
*.tsv
*.txt

# gitignore files
!input/.gitignore
!output/.gitignore

# slurm files
*.out
*.err

# R files
.Rhistory
.RData
.Ruserdata

# RStudio files
.Rproj.user

# scripts
*.sh
